

@{
    ViewBag.Title = "Paypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Pago con Paypal</h2>

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="row">
                        <div class="col">
                            <h2 class="section-heading">Paypal</h2>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <p>Correo electronico: </p>
                            <input type="text" id="fname"><br><br>
                            <p>Contraseña:</p>
                            <input type="password" id="fname"><br>
                            <br>
                        </div>
                    </div>


                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-4">
                            <br /><br /><img src="~/Content/img/paypal.png" height="55" /><br /><br />

                            @Html.ActionLink("Pagar", "Correcto", "Pago", new { area = " " }, new { @class = "btn boton" })


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>