
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Administrador</h2>
<br />
<marquee direction="left">
    <img src="~/Content/img/carrusel/admin_01.png" width="300" />
</marquee>
<marquee direction="right">
    <img src="~/Content/img/carrusel/admin_02.png" width="300" />
</marquee>
<marquee direction="left">
    <img src="~/Content/img/carrusel/admin_03.png" width="300" />
</marquee>
<marquee direction="right">
    <img src="~/Content/img/carrusel/admin_04.png" width="300" />
</marquee>
