
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Comprador</h2>
<br />
<marquee direction="left">
    <img src="~/Content/img/carrusel/comprador_01.png" width="300" />
</marquee>
<marquee direction="right">
    <img src="~/Content/img/carrusel/comprador_02.png" width="300" />
</marquee>
<marquee direction="left">
    <img src="~/Content/img/carrusel/comprador_03.png" width="300" />
</marquee>
<marquee direction="right">
    <img src="~/Content/img/carrusel/comprador_04.png" width="300" />
</marquee>
