@{
    ViewBag.Title = "About";
}

<main>
    <section style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">¿quiénes somos?</h2>
                </div>
                <div class="col">
                    <p class="text-center text-muted texto-index tipo-letra">
                        Llanteras halcón es una empresa mexicana dedicada a la comercialización de llantas que trabaja en
                        lograr un nivel de cultura empresarial acorde a las necesidades de nuestros clientes y amigos.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">misión</h2>
                </div>
                <div class="col">
                    <p class="text-center text-muted texto-index tipo-letra">
                        Ser la mejor opción para nuestros clientes, en la atención, satisfacción y seguridad de sus autos y llantas; siempre con los mejores estándares de
                        servicio y calidad, utilizando la más actual tecnología para este objetivo y atendiendo sin distinción de nivel social o económico a nuestra clientela,
                        buscando así, el reconocimiento del sector llantero a nivel nacional.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">visión</h2>
                </div>
                <div class="col">
                    <p class="text-center text-muted texto-index tipo-letra">
                        Convertirnos en el distribuidor de llantas más confiable de México, ofreciendo los mejores productos
                        y servicios a través del conocimiento y entendimiento de los requerimientos y necesidades del cliente.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">valores corporativos</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col col-md-4 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Seguridad</h4>
                </div>
                <div class="col col-md-4 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Integridad de trabajo</h4>
                </div>
                <div class="col col-md-4 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fas fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Responsabiliad con el ambiente</h4>
                </div>
                <div class="col col-md-4 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Confianza</h4>
                </div>
                <div class="col col-md-4 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Pasión por ganar</h4>
                </div>
                <div class="col col-md-4 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fas fa-tools fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Libertad de acción</h4>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">valores de marca</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col col-md-3 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Impulsado por la tecnología</h4>
                </div>
                <div class="col col-md-3 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Alto desempeño para ti</h4>
                </div>
                <div class="col col-md-3 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fas fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Confiable</h4>
                </div>
                <div class="col col-md-3 valor-columna">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icono-inicio"></i><i class="fas fa-clipboard-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Ágil</h4>
                </div>
            </div>
        </div>
    </section>
</main>
